<h1 class="NJB"> Nihaal Bharwani </h1>
.NJB {
	font-size: 40px;
	color:#00CED1;
	font-family:Trebuchet MS;
}

<p1 class="A"> Hi, I'm Nihaal Bharwani.</p1>

.A {
	font-size: 50px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}

<p2 class="B"> My Interests & Hobbies are: Football, Video games, Acting & Theatre, Hiking</p2>

.B {
	font-size: 40px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}

<p3 class="C'">Education: ESSEC Business School (Year 1), The Aditya Birla World Academy,Mumbai (graduated).</p3>

.C {
	font-size: 40px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}

<p4 class="D"> Fun facts: I love meeting new people from different cultures, I was an accomplished national level swimmer and I can cook the best cheese omlette</p4>

.D {
	font-size: 40px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}